# Data Science Tools and Ecosystems

## In this notebook,Data Science Tools and Ecosystems are summarized.

**Objectives**
- Python
- R
- SQL
- JAVA
- C++
- Scala

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Libraries are a collection of functions and methods that allows you to perform many actions without writing the code.
Some of the commonly used libraries by the Data Scientists are -
1. Tensorflow
2. Numpy
3. Scipy
4. Pandas
5. Pytorch
6. Scikit learn
7. Matplotlib

| Data Science Tools |
|--------------------|
|    Jupyter   |
|   RStudio   |
|   Apache Spark   |

### Below are a few examples of evaluating Arithematic Expressions in Python

#### 1. Addition

In [3]:
2+3

5

#### 2. Subtraction

In [4]:
15-8

7

#### 3. Multiplication

In [5]:
5*4

20

#### 4. Division

In [6]:
15/3

5.0

In [10]:
# This is a simple arithematic expression to multiply and then add the integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to Hours by dividing by 60
(200/60)

3.3333333333333335

## Author
Sayli Chaudhari